spring:
  datasource:
    # 1. 使用数据库
    platform: mysql
    # 2. url请修改为您的数据库连接
    url: jdbc:mysql://mysql.sqlpub.com:3306/manage_db?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=GMT%2B8
    username: root01
    password: 8fD0yZuRMSR3eegN
    # 3. 连接池使用 druid
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initialSize: 5
      minIdle: 5
      maxActive: 20
      #用来检测连接是否有效的sql
      validationQuery: SELECT 1
      # 通过connectProperties属性来打开mergeSql功能；slowSqlMillis慢SQL记录: 500毫秒 
      # config.file配置文件; config.decrypt: 启用加密; config.decrypt.key: 配置公钥
      connectionProperties: "druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500;config.decrypt=false;config.decrypt.key=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4P05ueQepxMJdZtm73eFEmL0wTZb7XN+PL7qdvttPhRrgSPLyTGh4sELFCLurOBC2R/rTysJ0K8Z5wuC1N2RYZ+SRQIIa9FvdlO30VrCstfJUGKlsuOqFKqcdm4nG/qOOAu0OKX2MYiwCnoyNl9fLS4jb6I9aNFJRAzlkzKXTH2gVuQxTyKT9z08uMfuxi7BxrTTY9+Ypqp8hqHDo+mN4i1CFKBx0xmUEp9TasiFCPabdbX2KmoPpH2iZZrvg0wSIxwRN42fwmuz+vZYytxq8x0vqFMr2GTpqMCBLYI3Q4JT2YHIfNc7y1LaHJliogL9HlPqz0Aox087vOTjomuXxQIDAQAB"
      # Druid StatViewServlet配置: 注意, 这里如果被其它过滤器拦截, 并修改了请求, 可能造成无法登陆druid后台
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: true
        login-username: admin
        login-password: admin
        allow: '127.0.0.1,10.0.0.1'
        deny: '10.0.0.1,10.0.0.2'
      # Druid WebStatFilter配置
      web-stat-filter:
        enabled: true
      #配置监控统计拦截的filters，stat:监控统计、log4j：日志记录、wall：防御sql注入，去掉后监控界面sql无法统计，'wall'用于防火墙
      #config是为了数据库加密
      filters: stat,wall,slf4j,log4j2,config
      # 过滤器配置: 日志输出
      filter:
        slf4j:
          enabled: true
          statement-create-after-log-enabled: false
          statement-close-after-log-enabled: false
          result-set-open-after-log-enabled: false
          result-set-close-after-log-enabled: false
        stat:
          enabled: true
          log-slow-sql: true
          merge-sql: true
          slow-sql-millis: 500
        wall:
          enabled: true
          config:
            delete-allow: true
            drop-table-allow: false