springdoc:
  title: 测试项目
  api-docs:
    # springdoc api文档访问控制
    enabled: true
    # 设置api文档访问路径
    path: /v3/api-docs
  group-configs:
    - group: "用户服务"
      paths-to-match: "/api/users/**"
    - group: "产品服务"
      paths-to-match: "/api/products/**"
    - group: "客户服务"
      paths-to-match: "/api/customers/**"
  swagger-ui:
    # swagger-ui文档访问控制
    enabled: true
    url: "/v3/api-docs"
    # swagger ui访问路径
    path: /swagger-ui.html
    operationsSorter: method
    #显示请求持续时间
    display-request-duration: true
    tagsSorter: alpha
  packages-to-scan: # 指定扫描的包(可选)
    - com.example.demo.controller
  # 自定义OpenAPI文档信息
  openapi:
    info:
      title: "测试项目系统API"  # 文档标题
      description: "基于SpringDoc的API文档示例"  # 文档描述
      version: "1.0.0"  # 版本号
      contact:  # 联系人信息
        name: "开发团队"
        email: "dev@example.com"
    servers:  # 接口服务器地址(可选，默认使用当前服务地址)
      - url: "http://localhost:8081"
        description: "测试环境"