# 环境切换: local dev test prod
# 当前项目maven激活环境，例如：local/dev/test，对应pom.xml中profile设置值
#spring.profiles.active=test '@spring.profiles.active@' 其中@spring.profiles.active@与pom中profiles的变量对应
spring: 
  profiles: 
    active: '@spring.profiles.active@'
    # 叠加激活新的profile: 原来分割配置文件(如:redis, datasource), 公共的配置放到properties里.
    #include: mvc,data,config
  application:
    name: demo
    version: 0.0.1-beta
    detail: this is demo web api project.
  banner:
    charset: UTF-8
    location: classpath:banner.txt
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
    add-properties: false
server:
  # 类似http://127.0.0.1这样的格式，这里仅做一个记录
  domain: http://127.0.0.1
  port: ${PORT:8080}
  servlet:
    # 项目基础URI
    context-path: /
  # 开启Http2，使其能够进行多路复用
  http2:
    enabled: true
---
spring:
  # 国际化配置
  messages:
    # 默认语言
    default-locale: zh_cn
    # I18n是存放多语言文件目录，messages是文件前缀.如果不配置为(ValidationMessages.properties)
    basename: i18n/messages
    # 指定国际化文件编码格式
    encoding: UTF-8
    # 设置国际化消息缓存有效时间，单位是秒
    cache-duration: 3600
    # 找不到与用户区域设置匹配的消息时，将退回系统默认区域设置. 最终找到默认的:messages.properties
    fallback-to-system-locale: true
    # 当找不到对应的消息键时，决定是否使用键值本身作为消息返回
    use-code-as-default-message: true
## -----------------------   orm 配置   -----------------------
mybatis:
  # 指定要扫描的 Xxxmapper.xml
  mapper-locations: classpath:mapper/*.xml
  # 通过config-location 可以指定mybatis-config.xml 可以以传统的方式来配置mybatis
  config-location:
    type-aliases-package: 
  configuration:
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  
## -----------------------   日志 配置   -----------------------

# level: TRACE INFO ERROR WARN FATAL OFF
logging:
  config: classpath:log4j2-spring.xml
  
## -----------------------   jackson 配置   -----------------------
---
spring:
  jackson:
    # 日期格式化
    date-format: yyyy-MM-dd HH:mm:ss
    # 而Jackson框架默认的时区GMT(相对于中国是少了8小时)
    time-zone: GMT+8
## -----------------------   spring datasource 配置   -----------------------
---
spring:
  datasource:
    # 1. 使用数据库
    platform: mysql
    # 2. url请修改为您的数据库连接
    url: jdbc:mysql://mysql.sqlpub.com:3306/manage_db?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=GMT%2B8
    username: root01
    password: 8fD0yZuRMSR3eegN
    # 3. 连接池使用 druid
    type: com.alibaba.druid.pool.DruidDataSource
    ##数据初始化设置
    #进行该配置后，每次启动程序，程序都会运行(表结构) 
    #always为始终执行初始化，embedded只初始化内存数据库(默认值),如h2等，never为不执行初始化
    initialization-mode: always
    sql-script-encoding: utf-8
    schema: classpath:db/schema.sql
    data: classpath:db/data.sql
    druid:
      initialSize: 5
      minIdle: 5
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置连接超时时间
      connect-timeout: 30000
      # 此属性控制从池返回的连接的默认自动提交行为，默认值：true
      default-auto-commit: true
      # 配置网络超时时间
      socket-timeout: 60000
      # 配置间隔多久才进行一次检测, 检测需要关闭的空闲连接, 单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间, 单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间, 单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      #用来检测连接是否有效的sql
      validationQuery: SELECT 1
      #申请连接的时候检测，建议配置为true，不影响性能，并且保证安全性
      testWhileIdle: true
      #获取连接时执行检测，建议关闭，影响性能
      testOnBorrow: false
      #归还连接时执行检测，建议关闭，影响性能
      testOnReturn: false
      #是否开启PSCache，PSCache对支持游标的数据库性能提升巨大，oracle建议开启，mysql下建议关闭
      poolPreparedStatements: true
      #开启poolPreparedStatements后生效
      maxPoolPreparedStatementPerConnectionSize: 20
      # 合并多个DruidDataSource的监控数据 
      useGlobalDataSourceStat: false
      # 通过connectProperties属性来打开mergeSql功能；slowSqlMillis慢SQL记录: 500毫秒 
      # config.file配置文件; config.decrypt: 启用加密; config.decrypt.key: 配置公钥
      connectionProperties: "druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500;config.decrypt=false;config.decrypt.key=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4P05ueQepxMJdZtm73eFEmL0wTZb7XN+PL7qdvttPhRrgSPLyTGh4sELFCLurOBC2R/rTysJ0K8Z5wuC1N2RYZ+SRQIIa9FvdlO30VrCstfJUGKlsuOqFKqcdm4nG/qOOAu0OKX2MYiwCnoyNl9fLS4jb6I9aNFJRAzlkzKXTH2gVuQxTyKT9z08uMfuxi7BxrTTY9+Ypqp8hqHDo+mN4i1CFKBx0xmUEp9TasiFCPabdbX2KmoPpH2iZZrvg0wSIxwRN42fwmuz+vZYytxq8x0vqFMr2GTpqMCBLYI3Q4JT2YHIfNc7y1LaHJliogL9HlPqz0Aox087vOTjomuXxQIDAQAB"
      # Druid StatViewServlet配置: 注意, 这里如果被其它过滤器拦截, 并修改了请求, 可能造成无法登陆druid后台
      stat-view-servlet:
        enabled: false
        url-pattern: /druid/*
        reset-enable: true
        login-username: admin
        login-password: admin
        allow: '127.0.0.1,10.0.0.1'
        deny: '10.0.0.1,10.0.0.2'
      # Druid WebStatFilter配置
      web-stat-filter:
        enabled: false
        url-pattern: /*
        exclusions: '/druid/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.html'
        # profileEnable能够监控单个url调用的sql列表
        profileEnable: true
      #配置监控统计拦截的filters，stat:监控统计、log4j：日志记录、wall：防御sql注入，去掉后监控界面sql无法统计，'wall'用于防火墙
      #config是为了数据库加密
      filters: stat,wall,slf4j,log4j2,config
      # spring监控 需要引入spring-boot-starter-aop切面支持
      aop-patterns: com.example.demo.mapper.*, com.example.demo.service.*, com.example.demo.controller.*
      # 过滤器配置: 日志输出
      filter:
        slf4j:
          enabled: false
          statement-create-after-log-enabled: false
          statement-close-after-log-enabled: false
          result-set-open-after-log-enabled: false
          result-set-close-after-log-enabled: false
        stat:
          enabled: false
          log-slow-sql: true
          merge-sql: true
          slow-sql-millis: 500
        wall:
          enabled: false
          config:
            delete-allow: true
            drop-table-allow: false
            multi-statement-allow: false
--- # springdoc 配置
springdoc:
  title: 测试项目
  api-docs:
    # springdoc api文档访问控制
    enabled: false
    # 设置api文档访问路径
    path: /v3/api-docs
    version: openapi_3_1
  group-configs:
    - group: "all service"
      paths-to-match: "/**"
      packages-to-scan:
        - com.example.demo.controller
    - group: "用户服务"
      paths-to-match: "/api/users/**"
    - group: "产品服务"
      paths-to-match: "/api/products/**"
    - group: "客户服务"
      paths-to-match: "/api/customers/**"
  swagger-ui:
    # swagger-ui文档访问控制
    enabled: false
    url: "/v3/api-docs"
    # swagger ui访问路径
    path: /swagger-ui.html
    operationsSorter: method
    #显示请求持续时间
    display-request-duration: true
    tagsSorter: alpha
  packages-to-scan: # 指定扫描的包(可选)
    - com.example.demo.controller
  # 自定义OpenAPI文档信息
  openapi:
    info:
      title: "测试项目系统API"  # 文档标题
      description: "基于SpringDoc的API文档示例"  # 文档描述
      version: "1.0.0"  # 版本号
      contact:  # 联系人信息
        name: "开发团队"
        email: "dev@example.com"
    servers:  # 接口服务器地址(可选，默认使用当前服务地址)
      - url: "http://localhost:8080"
        description: "开发环境"