spring:
  application:
    name: demo
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
server:
  port: ${PORT:8080}
mybatis:
  mapper-locations: classpath:mapper/*.xml
---
spring:
  datasource:
    # 1. 使用 H2 数据库
    platform: H2
    # 2. url用jdbc:h2:mem:manage_db_test
    url: jdbc:h2:mem:manage_db_test
    # 3. 连接池使用 druid
    type: com.alibaba.druid.pool.DruidDataSource
    ##数据初始化设置
    #进行该配置后，每次启动程序，程序都会运行(表结构) 
    #always为始终执行初始化，embedded只初始化内存数据库(默认值),如h2等，never为不执行初始化
    initialization-mode: embedded
    sql-script-encoding: utf-8
    schema: classpath:db/schema.sql
    #进行该配置后，每次启动程序，程序都会运行(数据)
    data: classpath:db/data.sql
    druid:
      initialSize: 5
      minIdle: 5
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      #用来检测连接是否有效的sql
      validationQuery: SELECT 1 FROM DUAL
      #申请连接的时候检测，建议配置为true，不影响性能，并且保证安全性
      testWhileIdle: true
      #获取连接时执行检测，建议关闭，影响性能
      testOnBorrow: false
      #归还连接时执行检测，建议关闭，影响性能
      testOnReturn: false
      #是否开启PSCache，PSCache对支持游标的数据库性能提升巨大，oracle建议开启，mysql下建议关闭
      poolPreparedStatements: true
      #开启poolPreparedStatements后生效
      maxPoolPreparedStatementPerConnectionSize: 20
      # 合并多个DruidDataSource的监控数据 
      useGlobalDataSourceStat: false
      # 通过connectProperties属性来打开mergeSql功能；slowSqlMillis慢SQL记录: 500毫秒 
      # config.file配置文件; config.decrypt: 启用加密; config.decrypt.key: 配置公钥
      connectionProperties: "druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500;config.decrypt=false;config.decrypt.key=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4P05ueQepxMJdZtm73eFEmL0wTZb7XN+PL7qdvttPhRrgSPLyTGh4sELFCLurOBC2R/rTysJ0K8Z5wuC1N2RYZ+SRQIIa9FvdlO30VrCstfJUGKlsuOqFKqcdm4nG/qOOAu0OKX2MYiwCnoyNl9fLS4jb6I9aNFJRAzlkzKXTH2gVuQxTyKT9z08uMfuxi7BxrTTY9+Ypqp8hqHDo+mN4i1CFKBx0xmUEp9TasiFCPabdbX2KmoPpH2iZZrvg0wSIxwRN42fwmuz+vZYytxq8x0vqFMr2GTpqMCBLYI3Q4JT2YHIfNc7y1LaHJliogL9HlPqz0Aox087vOTjomuXxQIDAQAB"
      # Druid StatViewServlet配置: 注意, 这里如果被其它过滤器拦截, 并修改了请求, 可能造成无法登陆druid后台
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: true
        login-username: admin
        login-password: admin
        allow: '127.0.0.1,10.0.0.1'
        deny: '10.0.0.1,10.0.0.2'
      # Druid WebStatFilter配置
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.html'
        # profileEnable能够监控单个url调用的sql列表
        profileEnable: true
      #配置监控统计拦截的filters，stat:监控统计、log4j：日志记录、wall：防御sql注入，去掉后监控界面sql无法统计，'wall'用于防火墙
      #config是为了数据库加密
      filters: stat,wall,log4j2,config
      # spring监控
      #com.izhemo.system.roadcontrol.dao.*, com.izhemo.system.roadcontrol.service.*, com.izhemo.system.roadcontrol.controller.*
      aop-patterns: com.izhemo.system.roadcontrol.dao.*, com.izhemo.system.roadcontrol.service.*, com.izhemo.system.roadcontrol.controller.*
      # 过滤器配置: 日志输出
      filter:
        slf4j:
          enabled: true
          statement-create-after-log-enabled: false
          statement-close-after-log-enabled: false
          result-set-open-after-log-enabled: false
          result-set-close-after-log-enabled: false
        stat:
          enabled: true
          log-slow-sql: true
          merge-sql: true
          slow-sql-millis: 500
        wall:
          config:
            delete-allow: true
            drop-table-allow: false
          enabled: true

